__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

venv/
env/
.venv/
ENV/
.env/

.env
.env.local
*.env
instance/
secrets.json

.ipynb_checkpoints

*.log
*.out
*.bak
*.swp
*.tmp
*.DS_Store

*.so
*.dll
*.dylib

*.db
*.sqlite3
*.sql
*.csv
*.xlsx


instance/
__pycache__/
flask_session/
*.pid

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
desktop.ini

.cache/
.pytest_cache/
__pycache__/